* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

/* banner start */
.banner {
    background-image: url(/images/banner/banner2.png);
    position: absolute;
    height: 809px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner-title {

    color: #151414;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;

}

.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.btn-primary {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;

}

/* main-part */
/* future section */
.failure {
    position: absolute;
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    display: flex;
    /* padding: 130px 322px 0px 206px; */

}

.failure-part1 {


    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    flex: content;

}

.failure-part2 {

    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
    padding-left: 87px;
    padding-bottom: 85px;


}

.failure-title {

    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;


    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}

.failure-desc {

    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}

.failure-list {

    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;

}

main section div ul li {
    list-style-image: url(/images/icons/list\ icon.png);

}

/* my plan */
.my-plan {
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px;
    display: flex;
    justify-content: center;
}

.my-plan h1 {

    width: 270px;
    height: 35px;
    left: 230px;
    top: 2012.26px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;


}

.my-plan div p {
    width: 177px;
    height: 29px;
    left: 277px;
    top: 2063.26px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;

}

.my-plan div image {
    width: 93px;
    height: 93px;
}

.my-plan1 {
    justify-content: center;
}

/* mindset */



.maindset {
    background: url(/images/watch.png);
    background-size: cover;
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2216.3px;


}

.mindset-title {
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2275.3px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    text-align: left;

}

.mindset-all {
    padding-left: 64px;
    padding-top: 84px;
    padding-bottom: 59px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);

}

.btn-second {

    width: 160px;
    height: 64px;
    left: 294px;
    top: 2393.3px;
    font-weight: 600;
    font-size: 20px;
    line-height: 47px;
    color: #F15B22;
    border-radius: 8px;
    border: none;
    text-align: center;
}




/* footer-part */
.footer {
    background-color: #151414;
    position: absolute;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2646.3px;
    display: flex;
    justify-content: space-between;

}

.footer .future {

    width: 485px;
    height: 317px;
    left: 230px;
    top: 2776.3px;

}

.footer .sub {

    width: 485px;
    height: 317px;
    left: 230px;
    top: 2776.3px;
}

.future-title {

    width: 148px;
    height: 53px;
    left: 230px;
    top: 2776.3px;

    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;

}

.future-desc {
    width: 485px;
    height: 78px;
    left: 230px;
    top: 2845.3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

address {
    width: 186px;
    height: 26px;
    left: 230px;
    top: 2989.3px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.add-icon {
    width: 186px;
    height: 146px;
    left: 230px;
    top: 2947.3px;

}

#anc {
    width: 175px;
    height: 46px;
    left: 230px;
    top: 3047.3px;

    padding-top: 600px;

}

/* sub */
.sub {

    justify-content: center;
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 2776.3px;

}

.sub-title {
    width: 123px;
    height: 29px;
    left: 1046px;
    top: 2776.3px;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    

}

.sub input {
    height: 64px;
    width: 325px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    border-radius: 8px;



}

.sub button {
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 2916.3px;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F15B22;

}

/* footer-end */